{% extends 'layout.html'%}
{% block content %}

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="container d-flex w-50 justify-content-between m-5 mx-auto">
    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://iitgn.ac.in/assets/img/outreach/neev/neev1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apply as Trainer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#trainerModal">Apply</button>
            </div>
          </div>
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://iitgn.ac.in/assets/img/outreach/neev/neev5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Be a Volunteer </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#volunteerModal">Apply</button>
            </div>
          </div>
    </div>
</div>

<!-- trainer modal -->
  <div class="modal fade" id="trainerModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Apply as Trainer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="addDetails" method="POST">
            <input type="hidden" name="signal" value="applyTrainer">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>


            <div class="form-group">
                <label for="fee">Fee</label>
                <input type="number" class="form-control" name="fee" id="fee" required>
            </div>


            <div class="form-group">
              <label for="age_add">Age</label>
              <input type="number" class="form-control" id="age_add" name="age" max="200">
            </div>

            <div class="form-group">
              <label for="phone_number">Phone No</label>
              <input type="tel" class="form-control" id="education" name="phone_number" required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>

         

            <div class="form-group">
              <label for="genderSelect">Gender</label>
              <select class="form-control" id="genderSelect" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>

           

            <div class="form-group">
              <!-- project and year -->
              <div class="form-group d-flex flex-row justify-content-between align-items-center" style="width: 100%">
                <label for="project_name">Apply for Project</label>
                <select class="form-control mx-4" id="project_name" name="project_name" placeholder="Project Name">
                  {% for project in projects %}
                  <option value="{{project[0]}}">{{project[0]}}</option>
                  {% endfor %}
                </select>
                <input type="number" class="form-control" id="project_year" name="project_year" placeholder="Year"
                  min="2008" required/>
              </div>
            </div>

           

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" id="saveChangesButton">Submit</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>


<!-- volunteer modal -->
<div class="modal fade" id="volunteerModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Apply as Volunteer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="addDetails_1" method="POST">
            <input type="hidden" name="signal" value="applyVolunteer">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
              <label for="dob">DOB</label>
              <input type="date" class="form-control" id="dob" name="dob" required>
            </div>

            <div class="form-group">
              <label for="phone_number">Phone No</label>
              <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
           
            

            <div class="form-group">
              <label for="genderSelect">Gender</label>
              <select class="form-control" id="genderSelect" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>

           

            <div class="form-group">
              <!-- project and year -->
              <div class="form-group d-flex flex-row justify-content-between align-items-center" style="width: 100%">
                <label for="project_name">Apply for Project</label>
                <select class="form-control mx-4" id="project_name" name="project_name" placeholder="Project Name">
                  {% for project in projects %}
                  <option value="{{project[0]}}">{{project[0]}}</option>
                  {% endfor %}
                </select>
                <input type="number" class="form-control" id="project_year" name="project_year" placeholder="Year"
                  min="2008" required/>
              </div>
            </div>

           

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success" id="saveChangesButton">Submit</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>


{% endblock content %}